Package: linux-headers-5.15.0g-88
Source: linux
Version: 5.15.0g-88.98
Architecture: all
Maintainer: Ubuntu Kernel Team <kernel-team@lists.ubuntu.com>
Installed-Size: 75888
Depends: coreutils
Section: devel
Priority: optional
Multi-Arch: foreign
Description: Header files related to Linux kernel version 5.15.0g
 This package provides kernel header files for version 5.15.0g, for sites
 that want the latest kernel headers. Please read
 /usr/share/doc/linux-headers-5.15.0g-88/debian.README.gz for details
